server:
  port: 8080

spring:
  application:
    name: customer
  zipkin:
    base-url: http://localhost:9411

  datasource:
    password: password
    url: jdbc:postgresql://localhost:5439/customer
    username: amigoscode
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
    rabbitmq:
      addresses: localhost:5672

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true
#  instance:
#    prefer-ip-address: true
#    instance-id: ${spring.cloud.client.address}:${spring.application.name}:${server.port}
